In [1]:
import pandas as pd

In [15]:
engagement_df = pd.read_excel('14_Engagement_and_Learning_Results - Lesson 9.xlsx', usecols=[0, 1, 2])

In [16]:
engagement_df.describe()

,Please rank how engaged you are in Stats 95 on a scale from 1 to 10.,Please rank how much you think you're learning in Stats 95 on a scale from 1 to 10.
count,235.000000,235.000000
mean,7.470213,7.396596
std,2.418140,2.537056
min,1.000000,1.000000
25%,7.000000,6.000000
50%,8.000000,8.000000
75%,9.000000,9.000000
max,10.000000,10.000000