In [1]:
import pandas as pd

In [5]:
keyboard_df = pd.read_excel("16_Keyboard.xlsx", usecols=[0, 1]);
keyboard_df

    QWERTY errors  Alphabetical errors
0            6.00                  6.0
1            6.00                 11.0
2            2.00                  8.0
3            7.00                  5.0
4            8.00                 11.0
5            8.00                  8.0
6            2.00                 10.0
7            3.00                  7.0
8            5.00                  4.0
9            7.00                  3.0
10          10.00                  7.0
11           5.00                  6.0
12           4.00                 10.0
13           7.00                 10.0
14           5.00                  6.0
15           7.00                  5.0
16           4.00                 10.0
17           5.00                 11.0
18           2.00                 13.0
19           5.00                  8.0
20           3.00                  5.0
21           4.00                 11.0
22           4.00                  7.0
23           4.00                  8.0
24           4.00                  5.0
25           5.08                  7.8

In [14]:
keyboard_df['diff'] = keyboard_df[keyboard_df.columns[0]] - keyboard_df[keyboard_df.columns[1]]
keyboard_df

    QWERTY errors  Alphabetical errors   diff
0            6.00                  6.0   0.00
1            6.00                 11.0  -5.00
2            2.00                  8.0  -6.00
3            7.00                  5.0   2.00
4            8.00                 11.0  -3.00
5            8.00                  8.0   0.00
6            2.00                 10.0  -8.00
7            3.00                  7.0  -4.00
8            5.00                  4.0   1.00
9            7.00                  3.0   4.00
10          10.00                  7.0   3.00
11           5.00                  6.0  -1.00
12           4.00                 10.0  -6.00
13           7.00                 10.0  -3.00
14           5.00                  6.0  -1.00
15           7.00                  5.0   2.00
16           4.00                 10.0  -6.00
17           5.00                 11.0  -6.00
18           2.00                 13.0 -11.00
19           5.00                  8.0  -3.00
20           3.00                  5.0  -2.00
21           4.00                 11.0  -7.00
22           4.00                  7.0  -3.00
23           4.00                  8.0  -4.00
24           4.00                  5.0  -1.00
25           5.08                  7.8  -2.72

In [16]:
keyboard_df.describe()

       QWERTY errors  Alphabetical errors       diff
count      26.000000            26.000000  26.000000
mean        5.080000             7.800000  -2.720000
std         2.018316             2.592296   3.616849
min         2.000000             3.000000 -11.000000
25%         4.000000             6.000000  -5.750000
50%         5.000000             7.900000  -3.000000
75%         6.750000            10.000000  -0.250000
max        10.000000            13.000000   4.000000