In [1]:
import pandas as pd

In [4]:
items = {"Bob": pd.Series(data = [245, 25, 55], index = ["bike", "pants", "watch"]),
         "Alice": pd.Series(data = [40, 110, 500, 45], index = ["book", "glasses", "bike", "pants"])}
type(items)

dict

In [6]:
shopping_cart = pd.DataFrame(items)
shopping_cart

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [7]:
shopping_cart.values

array([[245., 500.],
       [ nan,  40.],
       [ nan, 110.],
       [ 25.,  45.],
       [ 55.,  nan]])

In [8]:
shopping_cart.shape

(5, 2)

In [9]:
shopping_cart.ndim

2

In [10]:
shopping_cart.size

10

In [12]:
bob_shopping_cart = pd.DataFrame(items, columns=["Bob"])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [18]:
sel_shopping_cart = pd.DataFrame(items, index = ["book", "pants"])
sel_shopping_cart

        Bob  Alice
book    NaN     40
pants  25.0     45

In [21]:
alice_sel_shopping_cart = pd.DataFrame(items, columns=["Alice"], index = ["bike", "books"])
alice_sel_shopping_cart

       Alice
bike   500.0
books    NaN

In [22]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame 
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

# We display the DataFrame
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

In [23]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
store_items

         bikes  glasses  pants  watches
store 1     20      NaN     30       35
store 2     15     50.0      5       10