In [1]:
import pandas as pd

In [2]:
filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)
print(df.head())

   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0

In [3]:
print (df['Start Time'].head())

# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

print (df['Start Time'].head())

0    2017-06-23 15:09:32
1    2017-05-25 18:19:03
2    2017-01-04 08:27:49
3    2017-03-06 13:49:38
4    2017-01-17 14:53:07
Name: Start Time, dtype: object
0   2017-06-23 15:09:32
1   2017-05-25 18:19:03
2   2017-01-04 08:27:49
3   2017-03-06 13:49:38
4   2017-01-17 14:53:07
Name: Start Time, dtype: datetime64[ns]

In [4]:
# extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].apply(lambda x: x.hour)

print (df['hour'].head())
print (df['hour'].value_counts().idxmax())

0    15
1    18
2     8
3    13
4    14
Name: hour, dtype: int64
17

In [5]:
# find the most common hour (from 0 to 23)
popular_hour = df['hour'].value_counts().idxmax()
    
print('Most Frequent Start Hour:', popular_hour)

Most Frequent Start Hour: 17