## Zip

In [2]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

items, weights = zip(*manifest)
print(items)
print(weights)

('bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses')
(15, 24, 42, 120, 5)

In [5]:
items = ['bananas', 'mattresses', 'dog kennels', 'machine', 'cheeses']
weights = [15, 24, 42, 120, 5]

for item, weight in zip(items, weights):
    print ("{} number of {} are there".format(weight, item))

15 number of bananas are there
24 number of mattresses are there
42 number of dog kennels are there
120 number of machine are there
5 number of cheeses are there

In [7]:
list(zip(['a', 'b', 'c'], [1, 2, 3]))

[('a', 1), ('b', 2), ('c', 3)]

In [8]:
letters = ['a', 'b', 'c']
nums = [1, 2, 3]

for letter, num in zip(letters, nums):
    print("{}: {}".format(letter, num))

a: 1
b: 2
c: 3

In [10]:
some_list = [('a', 1), ('b', 2), ('c', 3)]
alphabets, numbers = zip(*some_list)

print(alphabets)
print(numbers)

('a', 'b', 'c')
(1, 2, 3)

## Enumerate

In [12]:
letters = ['a', 'b', 'c', 'd', 'e']
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d
4 e

## Practice: Zip Coordinates

In [15]:
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here
for label, x, y, z in zip(labels, x_coord, y_coord, z_coord):
    points.append("{}: {}, {}, {}".format(label, x, y, z))

for point in points:
    print(point)

F: 23, 677, 4
J: 53, 233, 16
A: 2, 405, -6
Q: -12, 433, -42
Y: 95, 905, 3
B: 103, 376, -6
W: 14, 432, 23
X: -5, 445, -1

## Practice: Zip Lists to a Dictionary

In [18]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

## Practice: Unzip Tuples
Unzip the cast tuple into two names and heights tuples.

In [28]:
cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))

# define names and heights here
names, heights = zip(*cast)

print(names)
print(heights)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(72, 68, 72, 66, 76)

## Practice: Transpose with Zip
Use zip to transpose data from a 4-by-3 matrix to a 3-by-4 matrix. There's actually a cool trick for this! Feel free to look at the solutions if you can't figure it out.

In [30]:
data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

for row in zip(*data):
    print(row)

data_transpose = tuple(zip(*data))
print(data_transpose)

(0, 3, 6, 9)
(1, 4, 7, 10)
(2, 5, 8, 11)
((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

## Quiz: Enumerate
Use enumerate to modify the cast list so that each element contains the name followed by the character's corresponding height. For example, the first element of cast should change from "Barney Stinson" to "Barney Stinson 72".

In [38]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, character in enumerate(cast):
    cast[i] = character + " " + str(heights[i])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']