## List Comprehensions

In [5]:
cities = ['chennai', 'mumbai', 'new delhi', 'kolkata']
capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())

print(capitalized_cities)

['Chennai', 'Mumbai', 'New Delhi', 'Kolkata']

In [7]:
# The above code can be reduced like this

capitalized_city = [city.title() for city in cities]
print(capitalized_city)

['Chennai', 'Mumbai', 'New Delhi', 'Kolkata']

## List Comprehension with conditions

In [9]:
squares = [x**2 for x in range(9)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [11]:
squares = [x**2 for x in range(9) if x % 2 == 0]
print(squares)

[0, 4, 16, 36, 64]

In [12]:
squares = [x**2 for x in range(9) if x % 2 == 0 else x + 3]

SyntaxError: invalid syntax (1429218522.py, line 1)

In [14]:
#If you need to add "if and else" condition then the condition has to come in the beginning, like this

squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
print(squares)

[0, 4, 4, 6, 16, 8, 36, 10, 64]

## Quiz: Extract First Names
Use a list comprehension to create a new list first_names containing just the first names in names in lowercase.

In [16]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

## Quiz: Multiples of Three
Use a list comprehension to create a list multiples_3 containing the first 20 multiples of 3.

In [21]:
multiples_3 = [x*3 for x in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

## Quiz: Filter Names by Scores
Use a list comprehension to create a list of names passed that only include those that scored at least 65.

In [29]:
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']