In [2]:
import pandas as pd

In [5]:
bike_ride_share_df = pd.read_csv("chicago.csv")
print (bike_ride_share_df.head())

   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0

In [7]:
bike_ride_share_df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [9]:
bike_ride_share_df.index

RangeIndex(start=0, stop=300000, step=1)

In [15]:
bike_ride_share_df['Gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [16]:
bike_ride_share_df['Gender'].value_counts()

Male      181190
Female     57758
Name: Gender, dtype: int64

In [34]:
months = ['january', 'february', 'march', 'april', 'may', 'june']
month = months.index('jnuary')
print (month)

ValueError: 'jnuary' is not in list