In [1]:
import numpy as np
import pandas as pd

df_08 = pd.read_csv('08tstcar.csv')
df_08.describe()

,MDLYR_DT,VI_MFR_CD,GBE_INDX_NUM,VC_CNFG_NUM,GBE_CID_MSR,VC_RTD_HP_MSR,ECS_CD,ECS_CD_0,ECS_CD_1,ECS_CD_2,...,CMYT_PM_MSR,GT_RND_ADJ_QTY,TPF_DYN_TRK_A_MSR,TPF_DYN_TRK_B_MSR,TPF_DYN_TRK_C_MSR,TPF_EDYN_TRK_A_MSR,TPF_EDYN_TRK_B_MSR,TPF_EDYN_TRK_C_MSR,VC_CYL_CNT,TPF_MFR_CSTDN_MSR
count,3015.0,3015.000000,3015.000000,3015.000000,3015.000000,3015.000000,0.0,0.0,0.0,0.0,...,17.000000,3015.000000,3011.000000,3011.000000,3011.000000,3011.000000,3011.000000,3011.000000,3015.000000,1737.000000
mean,2008.0,293.447761,218.003648,2.025871,216.903151,262.233831,NaN,NaN,NaN,NaN,...,0.002765,26.743018,38.288661,0.414637,0.022772,15.904185,0.120069,0.023699,6.134328,13.147761
std,0.0,327.347348,311.115640,3.594676,77.526179,108.444519,NaN,NaN,NaN,NaN,...,0.002682,8.713254,9.497668,0.330870,0.008618,8.989011,0.316151,0.006892,1.836968,7.193379
min,2008.0,20.000000,1.000000,0.000000,61.000000,70.000000,NaN,NaN,NaN,NaN,...,0.000000,8.100000,13.750000,-0.735900,0.009438,-20.438000,-1.093800,0.005000,2.000000,0.000000
25%,2008.0,40.000000,17.000000,0.000000,150.000000,175.000000,NaN,NaN,NaN,NaN,...,0.001000,20.200000,31.130000,0.179740,0.017640,9.750000,-0.052000,0.018530,4.000000,13.670000
50%,2008.0,220.000000,35.000000,1.000000,211.000000,242.000000,NaN,NaN,NaN,NaN,...,0.002000,25.200000,37.450000,0.381000,0.020276,15.400000,0.110000,0.021500,6.000000,16.060000
75%,2008.0,560.000000,300.000000,3.000000,280.000000,300.000000,NaN,NaN,NaN,NaN,...,0.004000,33.300000,44.438000,0.627500,0.027330,21.099000,0.296295,0.028500,8.000000,17.760000
max,2008.0,5385.000000,971.000000,40.000000,511.000000,1001.000000,NaN,NaN,NaN,NaN,...,0.011000,66.600000,72.270000,1.404500,0.235700,59.076000,1.113800,0.046959,16.000000,22.070000

In [2]:
df_18 = pd.read_csv('18tstcar-2018-10-24.xlsx')
df_18.describe()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2